<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
        <param-value>true</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
        <url-pattern>*.xhtml</url-pattern>
        <url-pattern>*.jsf</url-pattern>
        <url-pattern>*.faces</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.xhtml</welcome-file>
    </welcome-file-list>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>itmd4515Realm</realm-name>
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/error.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Client role</description>
        <role-name>CLIENT</role-name>
    </security-role>
    <security-role>
        <description>Manager role</description>
        <role-name>MANAGER</role-name>
    </security-role>
    <security-role>
        <description>TeamLeader role</description>
        <role-name>TEAMLEADER</role-name>
    </security-role>
    <security-role>
        <description>TeamMember role</description>
        <role-name>TEAMMEMBER</role-name>
    </security-role>
    <security-role>
        <description>Admin role</description>
        <role-name>ADMIN</role-name>
    </security-role>
    <security-constraint>
        <display-name>Admin Area</display-name>
        <web-resource-collection>
            <web-resource-name>Admin Pages</web-resource-name>
            <description/>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Allow all roles</description>
            <role-name>ADMIN</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Manager Area</display-name>
        <web-resource-collection>
            <web-resource-name>Manager Pages</web-resource-name>
            <description/>
            <url-pattern>/managerPortal/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Allow all roles</description>
            <role-name>MANAGER</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>TeamLeader Area</display-name>
        <web-resource-collection>
            <web-resource-name>TeamLeader Pages</web-resource-name>
            <description/>
            <url-pattern>/teamLeaderPortal/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Allow all roles</description>
            <role-name>TEAMLEADER</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>TeamMember Area</display-name>
        <web-resource-collection>
            <web-resource-name>TeamMember Pages</web-resource-name>
            <description/>
            <url-pattern>/teamMemberPortal/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Allow all roles</description>
            <role-name>TEAMMEMBER</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Client Area</display-name>
        <web-resource-collection>
            <web-resource-name>Client Pages</web-resource-name>
            <description/>
            <url-pattern>/clientPortal/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Allow all roles</description>
            <role-name>CLIENT</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>
